<ion-view title="Projects" ng-controller="ProjectsCtrl">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer">
    <div class="list">
      <a class="item" href="#" ng-repeat="(hash, name) in projects">
        {{name}}
      </a>

      <div class="item item-divider">
        Templates
      </div>

      <a class="item" href="#">
        5 Fruits a day
      </a>
      <a class="item" href="#">
        How much did I drink?
      </a>
    </div>
  </ion-content>
  <a class="bar bar-footer bar-positive" ui-sref="app.new_project">
    <div class="title">Create New Project</div>
  </a>
</ion-view>
